html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/* Change background color */
.navbar {
    background-color: lightslategrey;
}

/* Change text color for links */
.navbar-nav .nav-link {
    color: #343a40 !important; /* Use !important to override Bootstrap styles */
}

 /* Change hover color for links */
.navbar-nav .nav-link:hover {
        color: #007bff !important;
    }

/* Change active link color */
.navbar-nav .nav-item.active .nav-link {
    color: #007bff !important;
}


/* Optional: Change font size for navbar items */
.navbar-nav .nav-link {
    font-size: 16px;
}
