@using System.Security.Claims
@model Microsoft.AspNetCore.Identity.IdentityUser

@{
    ViewData["Title"] = "ProfileUpdate";
}

<h1 class="text-center">Profile Update</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="ProfileUpdate">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Email" class="control-label">Email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">

                    <input class="form-control" value="@User.FindFirstValue(ClaimTypes.NameIdentifier).ToString()" hidden />
                    
                </div>

                <div class="form-group">
                    <label asp-for="UserName" class="control-label">Username</label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>

                <div class="form-group text-center mt-3">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="text-center mt-3">
    <a asp-controller="AccountControllers" asp-action="ProfileView" asp-route-Id="@User.FindFirstValue(ClaimTypes.NameIdentifier).ToString()" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
